<div class="d-flex align-items-center justify-content-center">
  <div class="card text-center" style="width: 40%; box-shadow: 0 0 10px 0 rgba(63, 140, 255, 0.438); border-radius: 15px;">

      
      <div class="card-body">
        <h4 class="card-title text-center text-primary">Your Password</h4>
        <form>
          <div class = "input">
            <label for = "forgotemail" style = "display: block;"> Enter Your Account Email: </label>
            <input type = "text" class="form-control" id = "forgotemail" name = "forgotemail">
          </div>
          <br/>
          <h6 >
                <i>Patientize will send you an email with your password</i>
            </h6>
          <br/>
          <button type = "submit" class="btn btn-primary rounded-btn" formaction="/forgotPassword/send" formmethod="post">Send</button>
        </form>
      </div>
  </div>
  </div>