<section>
<script src="/javascripts/update-patients.js"></script>
<script>
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day);
    $('#pbirth').prop(today);
    $('#pbirth').val(today);
</script>

<div class="card text-center" style="box-shadow: 0 0 10px 0 rgba(63, 140, 255, 0.438); border-radius: 10px;">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
            <form action="/home" method="post">
                <button type="submit" class="btn btn-light">Profile</button>
            </form>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="#">Patients</a>
            </li>
            <li class="nav-item">
                <form action="/templates" method="post">
                <button type="submit" class="btn btn-light">Templates</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary rounded-btn" data-toggle="modal" data-target="#patientModal">
        Add Patient
        </button>

        <!-- PATIENTS GO HERE -->
        <div id="patientSection">

        </div>
    </div>
</div>


<!-- PATIENT TEMPLATE -->
<div id="patientTemplate" style="display: none;">
    <div class="card text-left" style="margin-top: 20px; border-radius: 10px;">
        <div class="card-header" style="display: none;">
            Patient #
        </div>
        <div class="card-body">
            <form action='/patientDetails' method="get" class="test">

                <h3 class="text-primary" style="color:blue;">Last Name, Name</h3>

                <p class="patient-gender">Gender</p>
                <p class="patient-mobile">Mobile</p>
                <p class="patient-email">Email</p>
                <p class="patient-age">Age</p>
                <br/>

                <button type="submit" class="btn btn-primary rounded-btn">Details</button>
                <button type="button" class="btn btn-danger rounded-btn" style="float: right;">Delete</button>
            </form>
            
        </div>
    </div>
</div>

<!-- Modal PATIENT -->
    <div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/addPatient" method="post">
            <div class="modal-body">
                <div class = "input">
                    <label for = "plname" style = "display: block;"> Last Name(s): </label>
                    <input type = "text" class="form-control" id = "plname" name = "plname">
                </div>
                <div class = "input">
                    <label for = "pname" style = "display: block;"> Name: </label>
                    <input type = "text" class="form-control" id = "pname" name = "pname">
                </div>
                <div class = "input">
                    <label for = "pemail" style = "display: block;"> Email: </label>
                    <input type = "text" class="form-control" id = "pemail" name = "pemail">
                </div>
                <div class = "input">
                    <label for = "pmobile" style = "display: block;"> Mobile: </label>
                    <input type = "text" class="form-control" id = "pmobile" name = "pmobile">
                </div>

                <div class = "input">
                    <label for = "pgender" style = "display: block;"> Gender </label>
                    <select class="form-control" id = "pgender" name = "pgender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>

                <div class="input">
                    <label for="pbirth" style = "display: block;">Birth Date:</label>
                    <div class="col-10">
                        <input class="form-control" type="date" id="pbirth" name="pbirth">
                    </div>
                </div>
                <br/>
                <br/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

</section>