<div class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 40%; box-shadow: 0 0 10px 0 rgba(63, 140, 255, 0.438); border-radius: 15px;">
        <div class="card-body">
            <h4 class="card-title text-center text-primary">Create An Account</h4>
            <form>
                <div class = "input">
                    <label for = "username" style = "display: block;"> *Username: </label>
                    <input type = "text" class="form-control is-invalid" id = "username" name = "username" placeholder="Dr. Something">
                </div>
                <div class = "input">
                    <label for = "password" style = "display: block;"> *Password: </label>
                    <input type = "text" class="form-control is-invalid" id = "password" name = "password" placeholder="Password">
                </div>
                <h6 style="color:crimson;">
                    <i>*These are mandatory fields for registry.</i>
                </h6>
                <div class = "input">
                    <label for = "fullname" style = "display: block;"> Full Name: </label>
                    <input type = "text" class="form-control" id = "fullname" name = "fullname" placeholder="Your full name">
                </div>
                <div class = "input">
                    <label for = "specialty" style = "display: block;"> Specialty: </label>
                    <input type = "text" class="form-control" id = "specialty" name = "specialty" placeholder="Your specialty">
                </div>
                <div class = "input">
                    <label for = "dgp" style = "display: block;"> DGP Number: </label>
                    <input type = "text" class="form-control" id = "dgp" name = "dgp" placeholder="000 0000">
                </div>
                
                <div class = "input">
                    <label for = "gender" style = "display: block;"> Gender </label>
                    <select class="form-control" id = "gender" name = "gender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
                <br/>
                <br/>
                <button type = "submit" class="btn btn-primary" formaction="/register/submit-account" formmethod="post">Register</button>
            </form>
        </div>
    </div>
</div>