body {
  padding-top: 40px;
  background-color:#bfd7f2;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}

.jumbotron {
  background-color: #f0f5fa!important;
}

.row{
  padding-bottom: 10px;
}

.container{
  padding: 0px;
}

p {
  margin-bottom: 5px;
}

.modal-header {
  background-color: #ffffff;
  color: #1980ff;
}

.modal-footer {
  background-color: #ffffff;
}

.modal-body
{
  background-color: #ffffff;
}

.loader{
  float: right!important;
}

select{
  border-color: #1980ff;
}

textarea, select {
  border: 1px solid #85c1ff !important;
}

input[type=text],
input[type=date],
input[type=datetime-local],
input[type=password]{
  border-color: #85c1ff;
}

input[type=color]{
  border: 0px solid;
}

input[type="color"] {
  padding: 2px;
  height: 40px;
  width: 50px;
  vertical-align: middle;
} 

