body {
  padding-top: 40px;
  background-color:#bfd7f2;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}

.jumbotron {
  background-color: #f0f5fa!important;
}

.row{
  padding-bottom: 10px;
}

.container{
  padding: 0px;
}

p {
  margin-bottom: 5px;
}

.modal-header {
  background-color: #bfd7f2;
}

.modal-footer {
  background-color: #bfd7f2;
}

.modal-body
{
    background-color: #f0f5fa;
}

